CONFIG_BLINK_LED_STRIP=y
CONFIG_BLINK_GPIO=19
CONFIG_BLINK_PERIOD=1000

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MEMMAP=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIFFS_PAGE_SIZE=1024